<div class="panel panel-primary" style="text-align: center;">
      <div class="panel-heading">
            <h2>Categories</h2>
      </div>
      <div class="panel-body">
            <table class="table table-striped">
                  <tbody>
                        <tr>
                              <td (click)="navigateToDEM('getAllExpensesForUser')">Daily Expanse Logger</td>
                        </tr>
                        <tr>
                              <td (click)="navigateToDSM('getAllHousesForUser')">Service Expanse Manager</td>
                        </tr>
                  </tbody>
            </table>
      </div>
</div>