<h3 style="text-align: center;">{{pageTitle}}</h3>
<div [hidden]="submitted" id="updateDiv">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Aid Id:</label>
      <input type="text" class="form-control" id="aidId" required [(ngModel)]="aid.aidId" name="aidId" readonly>
    </div>

    <div class="form-group">
      <label for="name">Name<span style="color:#ff0000">*</span>:</label>
      <input type="text" class="form-control" id="aidName" required [(ngModel)]="aid.name" name="aidName">
    </div>

    <div class="form-group">
      <label for="name">House No:</label>
      <input type="text" class="form-control" id="houseNo" required [(ngModel)]="aid.house.houseNo" name="houseNo"
        readonly>
    </div>

    <div class="form-group">
      <label for="name">Address:</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="aid.house.address" name="address"
        readonly>
    </div>

    <div class="form-group">
      <label for="name">Start Date<span style="color:#ff0000">*</span>:</label>
      <input type="date" class="form-control" id="startDate" required [(ngModel)]="aid.startDate" name="startDate">
    </div>

    <div class="form-group">
      <label for="name">End Date<span style="color:#ff0000">*</span>:</label>
      <input type="date" class="form-control" id="endDate" required [(ngModel)]="aid.endDate" name="endDate">
    </div>

    <div class="form-group">
      <label for="name">Cost Of Service<span style="color:#ff0000">*</span>:</label>
      <input type="number" class="form-control" id="costOfService" required [(ngModel)]="aid.costOfService"
        name="costOfService">
    </div>

    <div class="form-group">
      <label for="name">Remaining:</label>
      <input type="text" class="form-control" id="remaining" required [(ngModel)]="aid.remainingAmount" name="remaining"
        readonly>
    </div>

    <br>
    <div [hidden]="isValid">
      <p style="background-color: rgb(233, 95, 95); text-align: center;">{{validationMessage}}</p>
    </div>
    <br>
    <div style="text-align: center;">
      <button type="submit" [disabled]="updateClicked" class="btn btn-success">Update</button>
      <button type="button" [disabled]="updateClicked" class="btn btn-success" style="margin-left: 4%;"
        (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>