<div id="userDetail">
      <h2 style="text-align: center;">{{pageTitle}}</h2>

      <hr />
      <div *ngIf="user">
            <div style="text-align: center;">
                  <span id="userPic" class="dot"></span>
            </div>
            <hr />
            <div *ngIf="showSpinner" class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                        <span class="sr-only" id="loading"></span>
                  </div>
            </div>
            <div>
                  <label><b>UserId: </b></label> {{user.userId}}
            </div>
            <hr />
            <div>
                  <label><b>UserName: </b></label> {{user.username}}
            </div>
            <hr />
            <div>
                  <label><b>Email: </b></label> {{user.email}}
            </div>
            <hr />

      </div>
      <br>
      <br>
      <div style="text-align: center;">
            <button (click)="logout()" class="btn btn-danger"
                  style="margin-left: 10px; margin-top: 10px;">Logout</button>
      </div>